.btn{
    color: black;
    background-color: wheat;
    border-radius: 50%;
    width: 6%;
    height: 8vh;
    margin-top: 522px;
    margin-left: -382px;
    border: none;
    cursor: pointer;
}

/* .btn:hover{
    background-color: black;
    transition: 0.5s;
    color: blanchedalmond; */

    
    /* cursor: url("./cursor/circle.png"), default; */
/* } */

/* #play:hover{
    color: blanchedalmond;
    transition: 0.5s;
    cursor: none;
    

} */

.btn:focus{
    border: none;
    outline: none;
    cursor: pointer;
}